body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    margin-top: 20px;
}
h2 {
    margin-bottom: 20px;
}
.row {
    display: flex;
    width: 80%;
    margin-bottom: 20px;
    
    .column {
        flex: 1;
        border: 1px solid #ccc;
        padding: 10px;
        margin: 5px;
        text-align: center;
    }

    .one-third {
        flex: 1;
    }
    
    .two-thirds {
        flex: 2;
    }
}
